*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: auto;
  width: 542px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.Container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Toggle{
  justify-content: flex-end;
  align-items: center;
}