.NumbersShadow{
    width: 240px;
    height: 224px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;

    margin-top: 12px;
}
.Numbers{
    width: 232px;
    height: 216px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.SingleNumber{
    width: 72px;
    height: 48px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #E2E3E5;
    border-radius: 6px;
}
.SingleNumber:hover{
    border: 2px solid #5D5FEF;
}
.SingleNumber:active{
    background: #5D5FEF;
    color: #FFFFFF;
}
.DoubleNumber{
    width: 152px;
    height: 48px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #E2E3E5;
    border-radius: 6px;
}
.DoubleNumber:hover{
    border: 2px solid #5D5FEF;
}
.DoubleNumber:active{
    background: #5D5FEF;
    color: #FFFFFF;
}