.EqualButtonShadow{
    width: 240px;
    height: 72px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;

    margin-top: 12px;
}
.EqualButton{
    width: 232px;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 15px;
    color: #FFFFFF;

    background: #5D5FEF;
    border-radius: 6px;
}
.EqualButton:active{
    background: #FFFFFF;
    color: #000000;
}
.EqualButton:hover {
    border: 2px solid #ffffff;
}